<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Szappos | Edit Brand</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="container main">
                <h4>Szappos| Edit Brand</h4>

                <div class="jumbotron">
                    <h1>Stores that carry  {{ brand.getBrandName }}</h1>
                </div>
                {% if brand_stores is not empty %}
                    {% for store in brand_stores %}
                        <p>{{ store.getStoreName }}</p>
                    {% endfor %}
                {% endif %}



                <h2>Add brands to this brand.</h2>
                <form action="/assign_store/{{ brand.getId }}" name="assign_brand" method="post">
                    <label for="all_stores">Add A Store: </label>
                    <select name="all_stores">
                        {% for store in all_stores %}
                            <option value="{{ store.getId }}">{{ store.getStoreName }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" name="button">Add Store</button>
                </form>
                <p><a href="/">Home</a></p>
            </div>
        </div>
    </body>
</html>
